.App {
  text-align: center;
}
.list-levels{
  background-color:#FFFFEE;
  width: 80%;
  height: 70%;
}
.list-levels ul {
  height: 700px;
  overflow-y:scroll;
}
.cardLevel{
  border-radius: 70px;
}
.contenedorListaUser::-webkit-scrollbar {
    -webkit-appearance: none;
}

.contenedorListaUser::-webkit-scrollbar:vertical {
    width: 10px;
}

.contenedorListaUser::-webkit-scrollbar-button:increment,
.contenedorListaUser::-webkit-scrollbar-button {
    display: none;
}

.contenedorListaUser::-webkit-scrollbar:horizontal {
    height: 10px;
}

.contenedorListaUser::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.contenedorListaUser::-webkit-scrollbar-track {
    border-radius: 10px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
